.nav-link[rel="next"] {display: none;}
.nav-link[rel="prev"] {display: none;}

.title {display: none;}


*{
    font-size:20px;
}




body {
//    font-family: 'Press Start 2P', monospace;
    font-family: 'Ubuntu', sans-serif;
}

/*general config */ 
article{
}

article p{
}
/*Go back button.*/      


.go_back_button a {
  /* Your styles here */
    background:#31363F;
    color: whitesmoke !important;
    padding:1rem 2rem 1rem 2rem;
    border-radius:15px;
}


   
.site-name{
    background:#31363F;
    color:white;
    padding-left:5px;
    padding-right:5px;
}

main{
    min-height:90vh;
}
post{
    font-size:2rem;
}
/*Main menu titles.*/
article li {
  color: #31363F;
  font-size: 16px;
}

article li a:hover {
    background: #31363F !important;
    color: white !important;
    padding:5px;
    font-size:20px;
}

img{
    min-width: 60vw;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}

/* Tables */


/* Ensure the table has a border-collapse to make the hover effect more apparent */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top:5rem;
}

/* Add a border to the table for better visibility */
table, th, td {
    border: 1px solid #31363F;
}

/* Style the table header */
table thead th {
    background-color: #31363F;
    color: white;
    padding: 8px;
    text-align: left;
}

/* Style the table cells */
table tbody td {
    padding: 8px;
    text-align: left;
}

/* Change the background color of the rows on hover */
table tbody tr:hover {
    background-color: #31363F; /* Change this to the desired hover color */
    color:whitesmoke;
}


/* Changes the objec on hover. */
.stats_table:hover .table_title>em {
    font-weight: bold;  /* Make the child text bold */
    background-color:#31363F;
    color:whitesmoke;
    padding:5px 10px 5px 10px;
    text-decoration:none;
}

.stats_table:hover .table_subtitle>em {
    font-weight: bold;  /* Make the child text bold */
}



/* Centering the GLightbox image container */
.glightbox .gslide img {
    display: block;
    max-width: 100%; /* Ensure image doesn't overflow horizontally */
    max-height: 100vh; /* Ensure image doesn't overflow vertically */
    margin: 0 auto; /* Center image horizontally */
    border: 0; /* Remove default border */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: add shadow */
}

/* Ensure the GLightbox overlay is properly centered */
.glightbox .glightbox-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
}


.center {
    text-align: center;
    margin: 0 auto;
}


/* Footer content. */

/* Footnotes */
[id^="fn"] * {
    font-size:15px;
}





#component-footer > div > div > small:first-of-type {
    text-align:center;
}

#component-footer > div > div > small:nth-of-type(2) {
    display: none !important;
}


/* Highlight texts. */
strong{
    background:#31363F;
    color:white;
    padding:5px;
}
em {
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Adjust the thickness as needed */
}


